.app-color-blue{color: rgb(62, 117, 236);}
.app-color-dark{color: #505050;}
.app-color-danger{color: rgb(231, 64, 53);}
.app-color-light{color: rgb(252, 252, 252);}
.app-color-gray{color: #909090;}
.app-color-dark{color: #263238;}